<footer class="footer">
  <small>
    The <a href="https://www.railstutorial.org/book/beginning">Ruby on Rails </a>
    <a href="https://chat.google.com/u/1/room/AAAAuLDnjYA">my_twiiter_app</a>
    by <a href="https://www.youtube.com/channel/UCJHRVP_RXVJc7UfhamKIXfw">Gowtham</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://www.polimernews.com/live-tv">News</a></li>
    </ul>
  </nav>
</footer>